<template>
    <div>
       Hola mundo
    </div>
</template>
<script>
    export default{
        name: 'inicio',
        mounted: function(){
            document.title="Hola mundo"
        }
    }
</script>